@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    color: #0f141e;
    font-size: 16px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
}

.panel-top{
    background: gray;
    position: fixed;
    z-index: 9;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 60px;
}

.panel-top ul li {
    display: inline-block;
    margin-right: 5px;
    padding: 0 0;
    text-align: center;
}

.panel-top ul li a {
    text-decoration: none;
    border-radius: 40px;
    background:  #DCDCDC;    
    padding: 2px 25px;
    color: black;
}

.panel-top ul li a:hover {
    background:  rgb(112, 112, 248);
    color: white;
}

.content {
    margin-top: 55px;
    margin-left: 15px;
}

.savesettingbox{
    position: fixed;
    z-index: 9;
    top: 50px;
    left: 0px;
    background-color: lavender;
    padding: 3px 15px;
    width: 98%;
    border-radius: 10px 10px 0 0;
}

.buttons {
    border-radius: 40px;
    padding: 3px 5px;
    margin-left: 10px;
    cursor: pointer;
}

.buttons:hover,.buttonsfile:hover {
    background:  rgb(112, 112, 248);
    color: white;
}

.titlebox {
    background-color: #DCDCDC;;
    border-radius: 60px;
    padding: 0px 10px;
    top: -10px;
}

.blockmap {
    vertical-align: top;
    margin-top: 15px;
    margin-left: 15px;
    border: 1px solid lightgrey;
    padding: 15px 15px;
    border-radius: 40px;
}

.buttonsfile {
    padding: 5px 5px;
    width: 35%;
    border-radius: 40px;
    margin-left: 10px;
    cursor: pointer;
}

.lbround {
    border-radius: 50px;
    display: inline-block;
    margin-left: 5px;
    height: 10px;
    width: 10px;
    background-color:#DCDCDC;
}

.lbroundSel {
    background-color:green;
}
.lbroundWork {
    background-color:red;
}
.lbroundErr {
    background-color:orange;
}