/*Файл стилей для страницы поиска
*/

.blockDEG, .blockDM{
    display: inline-block; 
    margin-right: 10px;
}

.blockDEG, .blockDM input{
    margin-right: 0px;
    margin-left: 10px;
}

.blockDEGH, .blockDMH{
    display: none; 
    visibility: hidden;
    margin-right: 10px;
}

.editDM{
    max-width: 75px;
}

.editDEG{
    max-width: 100px;
}

html, body, .content {
    height: 100%;
  }


.maindiv{
    vertical-align: top;
    width: 100%;
    height: 85%;
}
.infodiv, .mapdiv {
    vertical-align: top;
    display: inline-block; 
    border: 1px solid lightgrey;
    border-radius: 40px;
}
.infodiv {
    width : 40%;
    min-height : 100%;
}

.mapdiv {
    z-index: 1;
    width: 50%;
    min-height : 100%;
}

.title {
    border: none;
    font-size: 18px;
    font-weight: bold;
    font-style: inherit;
    text-align: center;
    margin-top: 55px;
    margin-left: 25px; 
}

.blocktitle, .blocktitleh, .error, .info, .dopinfo{
    margin-left: 10px;
}

.blocktitle {
    display: inline-block;
    font-weight: bold;
    width: 100px; 
    text-align: left;
}

.blocktitleh {
    color: green;

}

.blocktext {
    border-bottom: 1px solid grey;
    width: 100%;
    margin-left: 5px;
}

.error {
    color: red;
}

.info {
    color: green;
}