.formbox {
    vertical-align: top;
}

.fotobox {
    vertical-align: top;
    display: inline-block; 
    margin-top: 15px;
    margin-left: 0px;
    padding: 15px 15px;
}

.fotobox img{
    border-radius: 40px;
    width: 300px;
}    

.fotoattrDscr {
    border: none;
    font-size: 18px;
    font-style: inherit;
    text-align: center;
    margin-bottom: 10px;
}

.fotobox .fotoattrDscr{
    width: 300px;
}

.latlon {
    border: none;
    font-size: inherit;
    font-style: inherit;
    text-align: left;
}

.savesettingbox, .warninggps{
    color: purple;
}

.geoName {
    text-decoration:underline;
    color: green;
    cursor: pointer;
}

.mapsUrl > a > img {
    height: 16px;
    width: 16px; 
}