
.info{
    position: fixed; 
    left:0px;
    background-image: url(./infobackC.png);
    background-size: 100%;    
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

.infoBox {
    margin-left: 15px;
    margin-top: 15px;
    color: black;
}

.cover{
    background-color: white;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 40px;

}

.caption {
    font-size: 20px;
    font-weight: bold;
    margin-left:25px;
}

.captionT {
    font-weight: bold;
}

#title{
    margin-left:25px;
    font-size: 24px;
    color:rgb(0, 26, 255);
}

#version{
    position: relative;
    top: -10px;
}

.listtxt {
    margin-left: 25px;
}
