.linkrmap, .informapcaption {
    margin-top: 5px;
    margin-left: 15px;
    font-size: inherit;
    font-family: inherit;

}

.informapcaption {
    margin-left: 5px;
    font-size: bold;
}

.blockmap {
    width: 50%;
}

.blocktop {
    margin-top: 90px;
}

.blockconsole {
    width: 90%;
}    
.console {
    margin-top: 15;
    background-color: black;
    color:white;
    padding: 15px 15px;
    font-size: inherit;
    font-style: inherit;
}

.consoledate {
    font-size: inherit;
    font-style: inherit;
    color: white;
    padding-right: 10px;
}

.errbox{
    margin-top: 15px;
    margin-left: 15px;
    color:red;
}