/*Файл стилей для страницы редактора трека
*/

html, body, .content {
    height: 100%;
  }

.maindiv{
    vertical-align: top;
    width: 100%;
    height: 85%;
}

.infodiv, .mapdiv {
    vertical-align: top;
    display: inline-block; 
    
    border-radius: 40px;
}
.infodiv {
    width : 25%;
    min-height : 100%;
}

.mapdiv {
    z-index: 1;
    width: 70%;
    min-height : 100%;
    border: 1px solid lightgrey;
}

.blocktext {
    border-bottom: 1px solid grey;
    width: 100%;
    margin-left: 5px;
}

.error {
    color: red;
}

.info {
    color: green;
    margin-left: 15px;
}

.infoErr {
    color: red;
    margin-left: 15px;
}


.pointAction {
    cursor: pointer;
    color: blue;
}


.pointAction:hover {
    color:  green;
}

.dopinfo {
    margin-left: 30px;
}

.tredit{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
    font-size: inherit;
    font-family: inherit;
    width: 350px;
}