.settingbox {
    vertical-align: top;
    display: inline-block; 
    margin-top: 15px;
    margin-left: 15px;
    border: 1px solid lightgrey;
    padding: 15px 15px;
    border-radius: 40px;
    width: 480px;
}

/* blockmap base */

.topbox{
    margin-top: 30px;
}

/* .titlebox  base */

details[open] > .titlebox {
    margin-bottom: 7px;
}

.msettinglabel {
    display: inline-block;
    width: 320px;
    text-align: right;
}

.msettinginput {
    margin-left: 5px;
}

.number {
    width: 50px;
}

.titlecaption {
    display: block;
    margin-top: 15px; 
    margin-left: 15px;
    text-align: center;
    background-color: #DCDCDC;
    border-radius: 60px;
    padding: 0px 10px;
}

.blockmapL {
    vertical-align: top;
    margin-top: 10px;
    display: inline-block; 
}

.blockmapL a ,.blockmapL label {
    display: block;
    margin-top: 5px;
    text-align: right;
}

.blockmapL > label {
    color: green;
}    


.blockmapR {
    vertical-align: top;
    margin-top: 10px;
    margin-left: 50px;
    display: inline-block; 
}

.ftrack, .fyear, .ficon, .flinewidth  {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
    font-size: inherit;
    font-family: inherit;
}

.ficon{
    min-width: 90px;
    max-width: 90px;
}

.ficoncolor{
    max-width: 60px;
    border-radius: 30px;
    height:18px;
}

.flinecolor{
    margin-left: 6px;
    border-radius: 30px;
    height:18px;
    min-width: 120px;
}

.flinewidth  {
    width: 55px;
    margin-left: 15px;
}    


.head80, .head90, .head120, .head200, .head350 {
    border: none;
    background-color: lightgrey;
    font-size: inherit;
    font-weight: 500;
    font-family: inherit;
    
}

.head80 {
    width: 80px;
}

.head90, .fyear {
    width: 90px;
}

.head120 {
    width: 120px;
}

.head200 {
    width: 180px;
}

.head350, .ftrack {
    width: 350px;
}



