<!DOCTYPE html>
<html lang="en">
<head>
    <title>VisioMap - Визуализация gps треков на карте</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', path='/base.css') }}" rel="stylesheet"> 
</head>
<body>
    <div class="panel-top">
        <ul>
            <li><a href="/">Главная <span id="lbpageIndex" class="lbround lbroundSel"></span></a> </li>
            <li><a href="/visiomap">Создание карты <span id="lbpagevisiomap" class="lbround"></span> </a></li>
            <li><a href="/kmlhtml">Импорт адресов из kml <span id="lbpagekmlhtml" class="lbround"></span></a></li>
            <li><a href="/mapresult">Результаты <span id="lbpagemapresult" class="lbround"></span></a></li>
            <li><a href="/find">Поиск <span id="lbpagefind" class="lbround"></span></a></li>
            <li><a href="/trackEdit">Редактор трека <span id="lbpagetrackEdit" class="lbround"></span></a></li>
        </ul>
    </div>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>