{% extends "base.html" %}
{% block content %}

<link href="{{ url_for('static', path='/find.css') }}" rel="stylesheet"> 

<link href="{{ url_for('staticExt', path='/font-awesome.min.css') }}" rel="stylesheet"> 
<link href="{{ url_for('staticExt', path='/leaflet.css') }}" rel="stylesheet"> 
<link href="{{ url_for('staticExt', path='/leaflet.awesome-markers.css') }}" rel="stylesheet"> 

<script src="{{ url_for('jsExt', path='/jquery-3.7.0.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('jsExt', path='/leaflet.js') }}" type="text/javascript"></script>
<script src="{{ url_for('jsExt', path='/leaflet.awesome-markers.js') }}" type="text/javascript"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script> -->

<script src="{{ url_for('js', path='/handlers.js') }}" type="text/javascript"></script>
<script src="{{ url_for('js', path='/editMappUtl.js') }}" type="text/javascript"></script>
<script src="{{ url_for('js', path='/editMapp.js') }}" type="text/javascript"></script>




<script type="text/javascript">
    handlerPageSelect("lbpagefind");
</script> 

<br> 
<div class="savesettingbox">
    <form name="frmfind" id="frmfind" enctype="multipart/form-data" method="get">
        <input name="degmode" type="radio" value="DEG" 
            {% if degmode != "DM" %} 
                checked 
            {% endif %} 
            title="формат градусы десятичный"
            onchange="handlerchangeDmDec(this)"> град.
        <input name="degmode" type="radio" value="DM" 
            {% if degmode == "DM" %} 
                checked 
            {% endif %} 
            title="формат градусы минуты секунды" 
            onchange="handlerchangeDmDec(this)"> град.мин.сек.
        <label id="latitudelb">Широта</label>
        <div  name="blockDEG"
            {% if degmode != "DM" %} 
                class="blockDEG"
            {% else %}    
                class="blockDEGH"
            {% endif %} 
        >
            <input class="editDEG" id="latitude" type="text" name="latitude" value="{{latitude}}" required onchange="handlerValidFloat(this)">
        </div>
        <div name="blockDM"
            {% if degmode != "DM" %} 
                class="blockDMH"
            {% else %}    
                class="blockDM"
            {% endif %} 
        >
            <input class="editDM" id="latitudeDeg" type="text" title="градусы" name="latitudeDeg" value="{{latitudeDeg}}" onchange="handlerValidFloat(this)">
            <label id="lblatitudeDeg">°</label>
            <input class="editDM" id="latitudeMin" type="text" title="минуты" name="latitudeMin" value="{{latitudeMin}}" onchange="handlerValidFloat(this)">
            <label id="lblatitudeMin">'</label>
            <input class="editDM" id="latitudeSec" type="text" title="секунды" name="latitudeSec" value="{{latitudeSec}}" onchange="handlerValidFloat(this)">
            <label id="lblatitudeSec">"</label>
        </div>
        <label id="longitudelb">Долгота</label>
        <div name="blockDEG"
            {% if degmode != "DM" %} 
                class="blockDEG"
            {% else %}    
                class="blockDEGH"
            {% endif %} 
        >
        <input class="editDEG" id="longitude" type="text" name="longitude" value="{{longitude}}" required onchange="handlerValidFloat(this)">
        </div>    
        <div name="blockDM"
            {% if degmode != "DM" %} 
                class="blockDMH"
            {% else %}    
                class="blockDM"
            {% endif %} 
        >
            <input class="editDM" id="longitudeDeg" type="text" title="градусы" name="longitudeDeg" value="{{longitudeDeg}}"onchange="handlerValidFloat(this)">
            <label id="lblongitudeDeg">°</label>
            <input class="editDM" id="longitudeMin" type="text" title="минуты"  name="longitudeMin" value="{{longitudeMin}}" onchange="handlerValidFloat(this)">
            <label id="lblongitudeMin">'</label>
            <input class="editDM" id="longitudeSec" type="text" title="секунды" name="longitudeSec" value="{{longitudeSec}}" onchange="handlerValidFloat(this)">
            <label id="lblongitudeSec">"</label>
        </div>
        <input class="buttons" type="submit" value="Найти по координатам" />
    </form>
</div>    
<div class="maindiv">
    <br>
    <div class="infodiv">
        <br>
        <label class="dopinfo">Результат поиска с  <a href="https://nominatim.openstreetmap.org" target = "_blank">nominatim.openstreetmap.org</a></label>
        <br>
        {% if errcode in ['200','99'] %} 
            <br>
            <label {% if errcode == '99' %} class="error" {% else %} class="title" {% endif %}>{{poitname}}</label><br>
            <br>
            {% for blocktiile in resdict %}
                {%if blocktiile in ['address'] %}
                    <label class="blocktitleh">{{blocktiile}}</label><br>
                    {% for addr in resdict[blocktiile] %}
                        <label class="blocktitle">{{addr}}</label>
                        <label class="blocktext">{{resdict[blocktiile][addr]}}</label><br>
                    {% endfor %}     
                {% endif %}
            {% endfor %}  
            <label class="blocktitleh">Info:</label><br>
            {% for blocktiile in resdict %}
                {%if blocktiile not in ['address'] %}
                    <label class="blocktitle">{{blocktiile}}</label>
                    <label class="blocktext">{{resdict[blocktiile]}}</label><br>
                {% endif %}
            {% endfor %}  

        {% endif %}     
        {% if errcode in ['1'] %} 
            <br>
            <label class="info">Укажите координаты для поиска, задайте например
                <a href="find?degmode=DEG&latitude=55.751426&longitude=37.618879">55.751426,37.618879</a></label>
        {% endif %}     
        {% if errcode not in ['200','1','99'] %} 
            <br>
            <label class="error">{{errcode}}</label><br>
            <label class="error">{{poitname}}</label>
        {% endif %} 
        {% if latitude or latitudeDeg %} 
            <hr><br>
            <spin class="dopinfo" id="linkmapinfo"></spin>
            <script type="text/javascript">
                document.getElementById("linkmapinfo").innerHTML = "Точка на картах "+mapsUrl("{{latitude}}", "{{longitude}}");
            </script>

            <br><br>
            <label class="blocktitleh">Координаты поиска</label><br>
            <label class="blocktitle" title="десятичный формат">широта</label>
            <label class="blocktext">{{latitude}}</label><br>
            <label class="blocktitle" title="десятичный формат">долгота</label>
            <label class="blocktext">{{longitude}}</label><br>
            <label class="blocktitle" title="градусы">ш, град</label>
            <label class="blocktext">{{latitudeDeg}}° {{latitudeMin}}' {{latitudeSec}}"</label><br>
            <label class="blocktitle" title="градусы">д, град</label>
            <label class="blocktext">{{longitudeDeg}}° {{longitudeMin}}' {{longitudeSec}}"</label><br>
        {% endif %} 
        <br>
        <br>
    </div>
    <div class="mapdiv" id="findmap_id">
    </div>
</div>

{% if latitude  and longitude %} 
    <script type="text/javascript">
        visiomapadd("{{latitude}}", "{{longitude}}","findmap_id");
    </script>
{% else %}
    <script type="text/javascript">
        visiomapadd(0, 0,"findmap_id");
    </script>
{% endif %}    


{% endblock %}