{% extends "base.html" %}
{% block content %}

<link href="{{ url_for('static', path='/foto.css') }}" rel="stylesheet"> 
<script src="{{ url_for('js', path='/handlers.js') }}" type="text/javascript"></script>
<script src="{{ url_for('js', path='/reference.js') }}" type="text/javascript"></script>

<script type="text/javascript">
    handlerPageSelect("lbpagevisiomap","w");
</script>


<form name="frmfoto" id="frmsetting" enctype="multipart/form-data" method="post" action="." onchange="setvisiblesavefoto(this)" onreset="resetchangefoto(this)">
    <div class="formbox">
        <div class="savesettingbox" id="savesettingboxid" hidden>
            <label >Есть несохранненые измения атрибутов фотографий</label>  <input class="buttons"  type="submit" name="btSave" value="Сохранить" />  <input class="buttons" type="reset" name="btReset" value="Сбросить" />
        </div>
        {% if filesData %}  
            {% for row in filesData %}
            <div class="fotobox" id="fotobox{{loop.index}}">
                <img src="../{{row['file']}}"  width="100" onclick="handlerImgZoomClik(this)">
                <input type="hidden" name="filename_{{loop.index}}" value="{{row['file']}}"/>
                <input type="hidden" value="{{row['altitude']}}" name="altitude_{{loop.index}}"/>
                <br>
                <input class="fotoattrDscr" type="text" placeholder="Добавьте описание к фото" value="{{row['description']}}"  name="description_{{loop.index}}" id="description_{{loop.index}}"/>
                {% if row['longitude'] and row['latitude'] %} 
                    <br><label class="geoName" title="Определить наименование по координатам" 
                         onclick="sendDescription(this, {{row['latitude']}},{{row['longitude']}},{{loop.index}});">Определить</label>
                {% endif %}     
                <br><label class="lbfotoattr" title="широта">ш:</label>
                <input class="latlon" type="text" value="{{row['latitude']}}" name="latitude_{{loop.index}}" id="latitude_{{loop.index}}" />
                <br><label class="lbfotoattr"  title="долгота">д:</label>
                <input class="latlon" type="text" value="{{row['longitude']}}" name="longitude_{{loop.index}}" id="longitude_{{loop.index}}"/>
                {% if row['longitude'] and row['latitude'] and row['mapsUrl']  %} 
                    {% autoescape false %}
                    <div class="mapsUrl">
                    На картах: {{row['mapsUrl']}}
                    </div>
                    {% endautoescape %}
                {% endif %}   

                <div class="fotoboxadd">
                    {% if userPoint %} 
                    <select size="1"  name="userPoint_{{loop.index}}" onchange="sendUserPoint(this)" id="userPoint_{{loop.index}}" >
                        {% if not row['userPoint'] or row['userPoint'] == 'Очистить точку' %}  
                        <option value=""><b>Установить координаты из точки пользователя: </b></option>
                        {% endif %} 
                        {% for selType in userPoint %}
                            <option 
                            {% if selType == row['userPoint'] and selType != 'Очистить точку' %} selected  {% endif %} 
                            value="{{selType}}">{{selType}}
                        </option>
                        {% endfor %}  
                    </select>
                    {% endif %}  
                
                    {% if row['datestamp'] %}  
                        <br>Дата съемки (exif): {{row['datestamp']}}
                    {% endif %} 
                    {% if row['altitude'] %}  
                        <br>Высота (exif): {{row['altitude']}}
                    {% endif %} 
                    {% if row['link'] %}  
                        <br>
                        <a href="{{row['link']}}"  title="Ссылка на полное изображение" target="_blank">Ссылка</a>
                    {% else %}  
                    <br>
                    <span class="warninggps">Файл не загружен в интернет </span>
                    {% endif %} 
                    {% if row['preview'] %}  
                        | <a href="{{row['preview']}}" title="Ссылка на превь" target="_blank">превью</a>
                    {% endif %} 
                </div>
            </div> 
            {% endfor %} 
        {% endif %}        
    </div>    
</form>

{% endblock %}