{% extends "base.html" %}
{% block content %}
<script src="{{ url_for('js', path='/handlers.js') }}" type="text/javascript"></script>

<script type="text/javascript">
    handlerPageSelect("lbpagekmlhtml");
</script>


<br> 
<div class="savesettingbox">
    <form name="formimport" id="formimport" enctype="multipart/form-data" method="post" action="mapresult">
        <input class="buttonsfile" required type="file" name="kmlfile" onchange="handlerValidExt(this,'kml')" >
        <input class="buttons" type="submit" name="btImpKml" value="Сформировать адрес"/> 
        <span id='filename' hidden> </span>
    </form>
</div>
{% endblock %}