{% extends "base.html" %}
{% block content %}
<link href="{{ url_for('static', path='/index.css') }}" rel="stylesheet"> 

<div class="info">
    <div class="infoBox">
        <span id="title" class="cover">{{nameTitle}}</span>
        <span id="version" class="cover" title="Версия">{{version}}</span>
        <br>
        <br>
        <span class="cover caption">Визуализация gps треков на карте</span>
    </div>
    <div class="infoBox">
        <span class="cover captionT">Возможности</span><br><br>
        <span class="cover listtxt">Визуализация треков в формате gpx, kml</span><br>
        <span class="cover listtxt">Расположение ссылок на фотографии</span>
    </div>
    <div class="infoBox">
        <span class="cover captionT">Описание</span><br><br>
        <span class="cover listtxt">Для работы необходимо в текущей папке наличие папок fotoYYY и gpxYYY</span><br>
        <span class="cover listtxt">, где YYY - произвольное имя - имя карты.</span><br>
        <span class="cover listtxt">Каталог fotoYYY (необязателен) - содержит фотографии для карты, которые будут загружены на ЯндексДиск и отображены на карте</span><br>
        <span class="cover listtxt">Каталог gpxYYY - содержит треки в формате GPX для карты </span><br>
        <span class="cover listtxt">Для каждого YYY создается своя карта в каталоге map, имя карты mapYYY.htm</span><br>
   </div>
   
</div>
{% endblock %}