{% extends "base.html" %}
{% block content %}

<link href="{{ url_for('static', path='/mapresult.css') }}" rel="stylesheet"> 
<script src="{{ url_for('js', path='/handlers.js') }}" type="text/javascript"></script>

<script type="text/javascript">
    handlerPageSelect("lbpagemapresult");
</script> 

<div class="mapresult">
    {% if htmmaplist %}  
    <div class="blockmap blocktop">
        <label class="titlebox">Новые карты</label><br>
        {% for row in htmmaplist %} 
            <br><a class="linkrmap" href="{{row['mapname']}}" target="_blank">{{row['mapname']}}</a> 
            <label class="informapcaption">треки:</label>
            <label class="informaptext">{{row['countgpx']}}</label>
            <label class="informapcaption">фото</label>
            <label class="informaptext">{{row['countfoto']}}</label>
            <!-- <a class="linkrmap" href="{{row['mapname']}}?mapedit=1" target="_blank">добавить свои точки на карту</a>  -->
        {% endfor %} 
    </div>
    {% endif %}

    {% if addrsnew %}  
    <div class="blockmap">
        <label class="titlebox">Новые адреса</label><br>
        {% for row in addrsnew %} 
            <br><a class="linkrmap" href="{{row}}" target="_blank">{{row}}</a> 
        {% endfor %} 
    </div>
    {% endif %}
    {% if addrsdir %} 
    <div class="blockmap">
        <label class="titlebox">Сформированные ранее адреса</label><br>
        {% for t_adr in addrsdir %}
            <br><a class="linkrmap" href="{{t_adr}}" target="_blank">{{t_adr}}</a> 
        {% endfor %} 
    </div>
    {% endif %}
    {% if mapsdir %} 
        <div class="blockmap">
            <label class="titlebox">Сформированные ранее карты</label><br>
            {% for _map in mapsdir %}
                <br><a class="linkrmap" href="{{_map}}" target="_blank">{{_map}}</a> 
            {% endfor %} 
        </div>
    {% endif %} 
    {% if logs %} 
        <details open class="blockmap blockconsole">
            <summary class="titlebox">Протокол работы</summary>
            <div class="console"> 
                {% for row in logs %}
                   <label class="consoledate">{{row['datetime']}}</label>
                   <font color="{{row['color']}}">{{row['text']}}</font>
                   <br>
                {% endfor %} 
            </div>    
        </details>
   {% endif %} 
</div>

{% endblock %}