{% extends "base.html" %}
{% block content %}
<link href="{{ url_for('static', path='/mapresult.css') }}" rel="stylesheet"> 
<script src="{{ url_for('js', path='/handlers.js') }}" type="text/javascript"></script>

<script type="text/javascript">
    handlerPageSelect("lbpagemapresult","e");
</script> 


{% if errlist %}  
<div class="blockmap blocktop">
    <label class="titlebox">Ошибка</label>
    <div class="errbox">
        {{errlist}}
    </div>
</div>
{% endif %} 

{% if logs %} 
<details open class="blockmap blockconsole">
    <summary class="titlebox">Протокол работы</summary>
    <div class="console"> 
        {% for row in logs %}
           <label class="consoledate">{{row['datetime']}}</label>
           <font color="{{row['color']}}">{{row['text']}}</font>
           <br>
        {% endfor %} 
    </div>    
</details>
{% endif %} 


{% if tracelst %} 
<details open class="blockmap blockconsole">
    <summary class="titlebox">Трейс</summary>
    <div class="console"> 
        <pre>{{tracelst}} </pre>
    </div>    
</details>
{% endif %} 

{% endblock %}