{% extends "base.html" %}
{% block content %}

<link href="{{ url_for('static', path='/trackEdit.css') }}" rel="stylesheet">

<link href="{{ url_for('staticExt', path='/font-awesome.min.css') }}" rel="stylesheet"> 
<link href="{{ url_for('staticExt', path='/leaflet.css') }}" rel="stylesheet"> 
<link href="{{ url_for('staticExt', path='/leaflet.awesome-markers.css') }}" rel="stylesheet"> 

<script src="{{ url_for('jsExt', path='/jquery-3.7.0.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('jsExt', path='/leaflet.js') }}" type="text/javascript"></script>
<!-- <link href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css" rel="stylesheet"/> -->
<script src="{{ url_for('jsExt', path='/leaflet.awesome-markers.js') }}" type="text/javascript"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script> -->


<script src="{{ url_for('js', path='/handlers.js') }}" type="text/javascript"></script>
<script src="{{ url_for('js', path='/editMappUtl.js') }}" type="text/javascript"></script>
<script src="{{ url_for('js', path='/editMapp.js') }}" type="text/javascript"></script>

<script type="text/javascript">
    handlerPageSelect("lbpagetrackEdit");
</script>

<br> 
<span id="infoload"></span>
<div class="savesettingbox">
    <form name="formimport" id="formimport" enctype="multipart/form-data" method="post" action="" onsubmit="presubmitTrackEdit(this,'lbpagetrackEdit');return false;">
        <input class="buttonsfile" required type="file" name="trackfile" title="Откройте файл с треком" onchange="loadchksubmit(this,'kml,gpx','formimport','lbpagetrackEdit')" >
        <input class="buttons" type="submit" name="btImpTrack" value="Загрузить трек на карту" hidden/> 
        <span id='filename' hidden> </span>
        {% if filename %}
            <input class="buttons" name="btExpTrack" value="Экспортировать в файл" onclick="trackExp()"/> 
        {% endif %}     
    </form>
</div>
<br>
<div class="maindiv">
    <div class="mapdiv" id="editmap_id">
         
    </div>
    <div class="infodiv">
        {% if errcode not in ['0'] %} 
            <br>
            <label class="error">{{errlist}}</label><br>
            <label class="error">{{tracelst}}</label>
        {% else %}   
            <br> 
            {% if filename %}    
                <label class="info">Файл</label> <br>
                <ul><li><label>{{filename}}</label></li></ul>
                <label class="info">Треки</label><br>
                {% if tracks %}
                {% for tr in tracks %}
                    <ul>
                        <li><input class="chTrack" type="checkbox" id="{{tr}}" name="{{tr}}" onchange="setvistrackch('{{tr}}',this)" checked/>
                            <input class="tredit" type="text" id="{{tr}}_name" name="{{tr}}_name" value="{{tracks[tr]}}" title="название трека и файла"
                             required  onchange="handlerEditChange(this,'название трека')"/></li>
                        <label class="dopinfo">Точек: </label><label class="dopinfocnt" id="{{tr}}_all" title="всего"></label>
                        <label class="dopinfo2">| </label><label class="dopinfocnt" id="{{tr}}_del" title="удаленных"></label>
                    </ul>
                {% endfor %}
                {% endif %}
                <label class="info">Экспортировать в файл</label><br>
                <ul>
                    <li><input class="tredit" type="text" id="filenameid" name="filename" value="{{filename}}" title="название файла"
                        required onchange="handlerEditChange(this,'название файла')" /></li>
                </ul>
                <label class="info" id="export"></label><br>
                <label class="infoErr" id="exportErr"></label><br>
                <div id="ExpTrackcontent">
                </div>
            {% endif %}     
        {% endif %} 
        <div class="infohlp">
            <label class="info">Инструкция</label>
            <br>
            <ul>
                <li>Выберете файл с треком gpx или kml формата </li>
                <li>Нажмите загрузить трек для создания карты </li>
                <li>Для редактирования трека щелкните по точке </li>
                <li>Нажмите удалить точку, чтобы удалить текущую точку </li>
                <li>Нажмите выделить и удалить чтобы удалить несколько точек 
                    Первое нажатие выделяет точку, второе  удаляет путь с выделенной до текущей </li>
            </ul>    
        </div> 
        <br><textarea hidden name="dataDict" id="dataDict_id">{{dataDict}}</textarea> 
        <br><textarea hidden name="dataTracks" id="dataTracks_id">{{tracks}}</textarea> 
    </div>
</div> 


<script type="text/javascript">
    editmapNew("editmap_id","dataDict_id","dataTracks_id");
</script>

{% if dataDict %} 
{% endif %}   

{% endblock %}