{% extends "base.html" %}
{% block content %}

<link href="{{ url_for('static', path='/visiomap.css') }}" rel="stylesheet"> 
<link href="{{ url_for('static', path='/colors.css') }}" rel="stylesheet"> 
<link href="{{ url_for('static', path='/font-awesome.min.css') }}" rel="stylesheet"> 
<script src="{{ url_for('js', path='/handlers.js') }}" type="text/javascript"></script>
<script src="{{ url_for('js', path='/reference.js') }}" type="text/javascript"></script>

<script type="text/javascript">
    handlerPageSelect("lbpagevisiomap");
</script>

<br> 
<span id="infoload"></span>
<form name="frmsetting" id="frmsetting" enctype="multipart/form-data" method="post" action="mapresult" onsubmit="presubmitMap(this,'lbpagevisiomap');return false;">
    <!-- Блок условий формирования -->
    <div class="savesettingbox">
        <label title="Сформировать карты по каталогу {{startDir}}">Формировать по каталогу</label><input class="msettinginput" type="checkbox" name="checkedCreMap" checked>
        <label title="Сформировать демокарту с иконками">Демо с иконками</label><input class="msettinginput" type="checkbox" name="checkedCreDemoIcon" >
        <label title="Сформировать демокарту с линиями">Демо с линиями</label><input class="msettinginput" type="checkbox" name="checkedCreDemoLine" >
        <label title="Сформировать демокарту  с пустым слоем">Демо пустую</label><input class="msettinginput" type="checkbox" name="checkedCreDemoEmpty" >
        <input class="buttons" id="btCreMap" type="submit" name="btCreMap" value="Сформировать" />
    </div>
    <!-- Блок главных настроек -->
    <div class="settingbox topbox">
        <details open >
            <summary class="titlebox">Общие настройки карты</summary>
            <label class="msettinglabel">Начальный масштаб</label>
            <input class="msettinginput number" type="number" name="zoom" value={{fsettings['zoom']}} min="1" max="18" size="4">
            <br><label class="msettinglabel">Коррекция временной зоны треков (ч:м)</label>
            <input class="msettinginput number" type="number" name="tzh" value={{fsettings['tzh']}} min="-12" max="14" size="4">  
            <input class="number" type="number" name="tzmin" value={{fsettings['tzmin']}} min="-45" max="45" size="4">
            <br><label class="msettinglabel">Показать на карте фотографии</label>
            <input class="msettinginput" type="checkbox" name="fotoOnW" value="{{fsettings['fotoOnW']}}" {% if fsettings['fotoOnW'] %} checked {% endif %}>
            <br><label class="msettinglabel">Не скрывать на карте поездки на машине</label>
            <input class="msettinginput" type="checkbox" name="autoOnW" value="{{fsettings['autoOnW']}}" {% if fsettings['autoOnW'] %} checked {% endif %}>
            <br><label class="msettinglabel">Формировать метки для погоды</label>
            <input class="msettinginput" type="checkbox" name="wheatherShowW" value="{{fsettings['wheatherShowW']}}" {% if fsettings['wheatherShowW'] %} checked {% endif %}>
            <br><label class="msettinglabel">Показывать координаты курсора</label>
            <input class="msettinginput" type="checkbox" name="mouseposOnW" value="{{fsettings['mouseposOnW']}}" {% if fsettings['mouseposOnW'] %} checked {% endif %}>
            <br><label class="msettinglabel">Добавить миникарту</label>
            <input class="msettinginput" type="checkbox" name="minimapOnW" value="{{fsettings['minimapOnW']}}" {% if fsettings['minimapOnW'] %} checked {% endif %}>
            <br><label class="msettinglabel" title="Отправить результат в телеграмм">Отправить результат в <img src="https://telegram.org/favicon.ico" width="14px" height="14px"/></label>
            <input class="msettinginput" type="checkbox" name="sendtgW" value="{{fsettings['sendtgW']}}" {% if fsettings['sendtgW'] %} checked {% endif %}>
        </details>
    </div>
    <!--формирование блока доп. слоев карты по словарю maps -->
    <div class="settingbox topbox">
        {% if maps %}  
            <details open >
                <summary class="titlebox">Дополнительные слои на карте</summary>
                {% for mapkey in maps %}
                    <label class="msettinglabel">{{mapkey}}</label>
                    <input class="msettinginput" type="checkbox" name="mapLayer_{{mapkey}}" value="{{maps[mapkey]['defchecked']}}" {% if maps[mapkey]['defchecked'] %} checked {% endif %}>
                {% endfor %}  
            </details>  
        {% endif %} 
    </div>
    <div class="dirbox">
        {% if filelst %} 
            <label class="titlecaption">Карты из каталога: "{{startDir}}"</label>
        {% endif %}     
        {% for mapkey in filelst %}
            <div class="blockmap">
                <label class="titlebox" title="Название карты"> {{mapkey}} </label><input type="checkbox" name="{{mapkey}}_ch" value="checked" checked > 
                <div class="blockmapRL">
                    <div class="blockmapL">
                        <!-- Блок с картами -->
                        {% for dirkey in filelst[mapkey] %}
                            <label title="Директория">{{dirkey}}</label>
                        {% endfor %}  
                        {% for dirkey in filelst[mapkey] %}
                            {% if dirkey.find('foto') == 0 %} 
                                <a href="{{dirkey}}"  target="_blank" title="Просмотреть\задать координаты фото">Фотографии</a>
                            {% endif %} 
                        {% endfor %}  
                    </div>
                    <div class="blockmapR">
                        <!-- Блок с треками -->
                        <input class="head350" type="text" value="Трек" readonly>
                        <input class="head90" type="text" value="Год" readonly>
                        <input class="head200" type="text" value="Тип" readonly>
                        <input class="head120" type="text" value="Цвет линии" readonly>
                        <input class="head80" type="text" value="Ширина" readonly>
                        <br>
                        {% for mapdir in filelst[mapkey] %}
                            {% for maptracktype in filelst[mapkey][mapdir]["files"] %}
                                {% if maptracktype != "foto" %} 
                                    {% for maptrack in filelst[mapkey][mapdir]["files"][maptracktype] %}
                                        <input class="ftrack" type="text" size="45" name="{{maptrack['id']}}_name" value="{{maptrack['name']}}" onchange="handlerEditChange(this,'название трека')">
                                        <input type="hidden" name="{{maptrack['file']}}" value="{{maptrack['id']}}">
                                    
                                        <input class="fyear" type="text" size="10" name="{{maptrack['id']}}_date" value="{{maptrack['date']}}">
                                        <!-- Выбор типа(иконки) -->
                                        <i class="fa 
                                                  {{selectType[maptrack['type']]['icon_prefix']}}-{{selectType[maptrack['type']]['icon_icon']}}
                                                  fa-fw"
                                            style="color:{{maptrack['icon_color']}}" 
                                            id="{{maptrack['id']}}_icon"     
                                        ></i>
                                        <select class="ficon" size="1"  name="{{maptrack['id']}}_type" id="{{maptrack['id']}}_type" onchange="sendupdtype(this)">
                                        {% for selType in selectType %}
                                        {% if selType not in ["foto","weather","timezone"] %} 
                                        <option 
                                            {% if selType == maptrack["type"]  %} selected  {% endif %} 
                                            value="{{selType}}">{{selType}}</option>
                                        {% endif %}     
                                        {% endfor %}  
                                        </select> 
                                        <select class="ficoncolor l_{{maptrack['icon_color']}}" 
                                           size="1"  name="{{maptrack['id']}}_iconcolor"
                                           id="{{maptrack['id']}}_iconcolor"  
                                           onchange="handlerIconColorChange(this)"                                              
                                           >
                                           {% for selColor in colorlist %}
                                           <option  
                                               {% if selColor == maptrack["icon_color"] %} selected  {% endif %} 
                                               class="l_{{selColor}}"
                                               value="{{selColor}}">{{selColor}}</option>
                                           {% endfor %}
                                        </select>
                                        <!-- Выбор цвета -->
                                        <select class="flinecolor l_{{maptrack['line_color']}}" size="1"  name="{{maptrack['id']}}_color" onchange="handlerColorChange(this)"> 
                                        {% for selColor in colorlist %}
                                        <option  
                                            {% if selColor == maptrack["line_color"] %} selected  {% endif %} 
                                            class="l_{{selColor}}"
                                            value="{{selColor}}">{{selColor}}</option>
                                        {% endfor %}  
                                        </select> 
                                        <!-- Выбор ширины -->
                                        <select class="flinewidth " size="1"  name="{{maptrack['id']}}_weight"> 
                                            {% for selweight in [1, 1.5, 2, 2.5, 3, 3.5, 4, 4.5, 5, 5.5, 6, 6.5, 7, 7.5, 8, 8.5, 9, 9.5] %}
                                            <option  
                                                {% if selweight == maptrack["line_weight"] %} selected  {% endif %} 
                                                value="{{selweight}}">{{selweight}}</option>
                                            {% endfor %} 
                                        </select>
                                        <br>
                                        
                                    {% endfor %}   
                                {% endif %}     
                            {% endfor %}
                        {% endfor %}
                    </div>
    
                </div>
            </div>
        {% endfor %}    
    </div>
</form>
{% endblock %}